# Enables logging debug info, probably shouldn't be enabled unless you like spam or working on the mod
debugLogging=true
#===================================================================================================
# Enable on screen notification when a fish spawns (Rod/Spear fishing)
onScreenNotify=true
#===================================================================================================
# Give additional skill tick chance every X seconds of fishing action (-1 to disable)
skillTickPeriodRod=10
skillTickPeriodSpear=10
skillTickPeriodNet=10
#===================================================================================================
# Disables hard failure on spear strike > 1m away from the fish
disableSpearHardMiss=true
#===================================================================================================
# Adds bonus to spear fishing check based on distance of strike from fish
# Bonus applies if strike distance < spearBonusMaxDist
# Bonus is calculated as (spearBonusMaxDist - distance) * spearBonusScale
# so with settings below a strike at 1.5 meter away will give (4-1.5)*3 = 7.5 bonus
# Set to 0 to disable
spearBonusMaxDistance=4
spearBonusDistanceScale=3
#===================================================================================================
# Adds bonus to spear fishing check from Nimbleness cast on spear
# Bonus is calculated as power * spearBonusNimScale
# so with setting below and 90 cast you'd get 90*0.15 = 13.5 bonus
# Set to 0 to disable
spearBonusNimScale=0.15
#===================================================================================================
# Swim speed multipliers, bigger = faster, 1 means default
# For rod fishing this affects how long the fish takes from spawning to biting
fishSpeedModRod=3
# For rod fishing this affects how long it takes between pull attempts
fishSpeedModRodPull=2
# For spear fishing, this affects how long it takes to swim off
fishSpeedModSpear=1
#===================================================================================================
# Timing tweaks. All the entries can be disabled by commenting or deleting them
# Format:
#     name=min,max,enchantScale,qlScale
# Result will be random number between min and max, multiplied by (1 - toolQl * qlScale) * (1 - enchantPower * enchantScale)
# For example 10,20,0.003,0.004 with ql=99 and enchant=90 will give a timer of between 4.4 and 8.8 seconds
# Fish spawn time for rod fishing
rodFishSpawnTime=10,20,0.003,0.004
# Fish spawn time for spear fishing
spearFishSpawnTime=10,20,0.003,0.004
# Time interval between checks for net fishing
netFishCheckInterval=10,20,0.003,0.004
#===================================================================================================
